.error-container{
    color: blueviolet;
}
.loader{
    position: absolute;
    left: 48%;
    top: 50%;
    color: chocolate;
    z-index: 1;
}
.row{
    margin: 0px !important;
}
.vertical-align-bottom{
    vertical-align: bottom;
}
a{
    text-decoration: none !important;
}
a:hover{
    background: #abcabc !important;
    color: teal !important;
}
a:focus{
    color: #ffffff !important;
}